.container
  .mt-3
  .table-responsive.mt-3.mb-3
    %table.table.table-striped.table-sm
      %thead
        %tr
        %th Title
        %th Category
        %th Length (m)
        %th Width (m)
        %th Height (m)
        %th Volume (cubic meter)
      %tbody
        - @products.each do |product|
          %tr
          %td= product.title
          %td= product.category
          %td= product.length.to_f
          %td= product.width.to_f
          %td= product.height.to_f
          %td= product.volume.to_f
  %hr.mb-4   	